---
import CountdownComponent from "../components/Countdown";
import "../styles/global.css";
---

<div
  style="background: url('/fondo.png') no-repeat center center fixed; background-size: cover; width:100vw; height:100vh; display:flex; align-items:center; justify-content:center;"
>
  <CountdownComponent client:load />
</div>
