---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import TransformationSection from "../components/TransformationSection.astro";
import AboutSection from "../components/AboutSection.astro";
import ItsForYouIf from "../components/ItsForYouIf.astro";
import TestimonialsSection from "../components/TestimonialsSection.astro";
import FinalCTASection from "../components/FinalCTASection.astro";
import LiveEventSection from "../components/LiveEventSection.astro";
import CTAButton from "../components/CTAButton.astro";
import WhatYouLearnSection from "../components/WhatYouLearnSection.astro";
import { date } from "astro:schema";

// Copys centralizados para toda la landing
const copys = {
  hero: {
    title: "Evento Exclusivo",
    date: "Domingo 31 de Agosto",
    secondTitle:
      "Comenza a sentirte cómoda con tu cuerpo y en paz con la comida, sin dietas, culpa ni autoexigencia",
    subtitle:
      "En este evento vas a descubrir cómo dejar de pelear con tu cuerpo y la comida y empezar a construir una relación basada en respeto, aceptación y amor . Sin dietas. Sin castigos. Sin exigirte ser otra para sentirte en paz.",
    ctaText: "Reservar mi lugar en la clase gratuita",
    ctaLink: "#register",
  },

  finalCTA: {
    title:
      "El primer paso para salir del loop de la culpa, la autoexigencia y el control.",
    description:
      "Esta Masterclass es el primer paso para que el 2025 no sea otro año más de lucha con vos misma. Es para mujeres que ya intentaron “todo”  y están listas para hacer algo distinto.",
  },

  liveEvent: {
    title: "Domingo 31 de Agosto",
    subtitle: "Evento online – acceso solo por registro",
    dateLabel: "Fecha",
    date: "Domingo 31 de Agosto",
    timeLabel: "Horarios",
    importantText: "Plazas limitadas, no te quedes afuera.",
    times: [
      { country: "Argentina", time: "19:00hs", flag: "fi fi-ar" },
      { country: "Chile", time: "18:00hs", flag: "fi fi-cl" },
      { country: "Uruguay", time: "18:00hs", flag: "fi fi-uy" },
      { country: "Paraguay", time: "18:00hs", flag: "fi fi-py" },
      { country: "Colombia", time: "17:00hs", flag: "fi fi-co" },
      { country: "Perú", time: "17:00hs", flag: "fi fi-pe" },
      { country: "México", time: "16:00hs", flag: "fi fi-mx" },
      { country: "España", time: "00:00hs", flag: "fi fi-es" },
      { country: "Miami", time: "18:00hs", flag: "fi fi-us" },
      { country: "Venezuela", time: "18:00hs", flag: "fi fi-ve" },
    ],
  },

  whatYouLearn: {
    title: "¿Qué vas a descubrir en esta clase?",
    description:
      "Una experiencia que no se queda en la teoría. Vas a integrar una nueva forma de relacionarte con vos.",
    bullets: [
      "Por qué vivís atrapada en un ciclo que te desgasta: no te gusta tu cuerpo, controlás lo que comés, te desbordás, te sentís culpable, volvés a empezar… y cómo romperlo sin más ansiedad.",
      "Cómo dejar de autosabotearte empezando por sanar el vínculo con tu cuerpo, en lugar de seguir peleando contra él. Podría ser: Cómo dejar de autosabotearte para alcanzar tus metas siento tu mejor amiga, y no tu peor enemiga.",
      "Cómo mirarte al espejo y conectar con una profunda sensación de amor, gratitud paz.",
      "El método de 4 pasos que ya ayudó a cientos de mujeres a recuperar su autoestima y volver a sentirse cómodas en su cuerpo.",
      "Qué tenés que cambiar (y qué no) para empezar a vivir en calma, sin que la comida ni tu imagen dominen tu vida.",
    ],
  },

  transformation: {
    title: "Lo que vas a lograr y sentir después del evento",
    benefits: [
      " Vas a sentir un alivio profundo y una paz que quizás no creías posible",

      "Vas a entender por qué no es tu culpa lo que te pasa — y cómo empezar a salir del bucle sin ansiedad ni autoexigencia.",

      "Vas a experimentar que no estás sola, y que hay una forma real, humana y amorosa de sanar el vínculo con tu cuerpo y la comida.",

      "Vas a reconectar con el deseo de cuidarte desde el amor, no desde el castigo.",

      "Vas a recuperar la confianza en que podés vivir sin estar en constante guerra con vos misma.",

      "Y por primera vez en mucho tiempo, vas a sentir que la paz con tu cuerpo y con quien sos es posible — y que puede empezar ahora.",
    ],
  },

  itsForYouIf: {
    title: "Esta clase es para vos si…",
    steps: [
      "Sentís que la comida y tu cuerpo son una carga constante. No podes pensar en otra cosa!",

      "Probaste todo: dietas,nutricionistas, terapia… y nada te sirvio",

      "Te cuesta sostener hábitos saludables porque vivís estresada y con ansiedad",

      "Querés dejar de vivir pendiente del espejo, del control, o del “me fallé otra vez”",

      "Tenés una voz dentro tuyo que dice con firmenza: “ya no quiero vivir así“",
    ],
  },

  testimonials: {
    title: "Lo que dicen quienes ya trabajaron con Jime:",
    videos: [
      "https://www.youtube.com/embed/dQw4w9WgXcQ",
      "https://www.youtube.com/embed/9bZkp7q19f0",
      "https://www.youtube.com/embed/kJQP7kiw5Fk",
      "https://www.youtube.com/embed/fJ9rUzIMcZQ",
      "https://www.youtube.com/embed/ScMzIvxBSi4",
    ],

    screenshots: [
      "https://picsum.photos/800/600?random=1",
      "https://picsum.photos/800/600?random=2",
      "https://picsum.photos/800/600?random=3",
      "https://picsum.photos/800/600?random=4",
      "https://picsum.photos/800/600?random=5",
    ],

    textTestimonials: [
      "“Nunca había sentido tanta paz con mi cuerpo. Jime me ayudó a ver todo desde otro lugar.”",
      "“La clase fue un antes y un después. Me sentí acompañada y comprendida.”",
      "“Gracias a Jime entendí que sanar no es corregirme, es volver a confiar en mi historia.”",
    ],
  },

  about: {
    title: "Quién soy",
    texts: [
      "Soy Jimena Frontera, mentora integrativa y experta en bioneuroplasticidad, especializada en el abordaje cuerpo–mente–alma.",
      "Me formé con referentes internacionales como Enric Corbera, y he desarrollado un enfoque único que ya transformó la vida de cientos de mujeres.",
      "Tengo una trayectoria sólida guiando procesos profundos de sanación emocional, especialmente en mujeres que llevan años en guerra con su cuerpo, la comida y con su autoestima",
    ],
    subtitle: "Mi historia",
    phrase:
      "Atravesé el ciclo de restricción, culpa y atracón, y viví 13 años de mi vida en guerra conmigo misma. Por eso, mi mirada es real, compasiva y profundamente transformadora. No hablo desde el deber ser, sino desde mi propia vivencia y desde la experiencia de haber acompañado a cientos de mujeres que, como vos, buscaban volver a habitarse en paz. Soy la creadora del programa de transformación profunda “Mujer Fénix”, un método integrador que combina neurociencia, técnicas de reprogramación inconsciente, trabajo emocional, alimentación intuitiva y reconexión corporal, para sanar desde la raíz.”",
  },

  registerBox: {
    title: "Inicia tu Transformación",
    namePlaceholder: "Tu nombre y apellido*",
    emailPlaceholder: "Tu email*",
    buttonText: "Registrarme",
    errorEmpty: "Por favor, rellena todos los campos",
    errorEmail: "Por favor, ingresa un email válido",
    errorServer: "Hubo un error al procesar tu solicitud. Intenta nuevamente.",
    success: "¡Registro exitoso! Te redirigiremos en breve...",
    secureMessage:
      "Tus datos están seguros. Solo los usaremos para enviarte información sobre la masterclass.",
  },
};
---

<Layout hideNav={false}>
  <main class='flex flex-col items-center justify-center mx-auto max-w-7xl'>
    <Hero id='hero' {...copys.hero} />

    <FinalCTASection id='register' {...copys.finalCTA} />

    <LiveEventSection id='live-event' {...copys.liveEvent} />

    <CTAButton href='#register' label='Quiero mi lugar en la clase' />

    <WhatYouLearnSection id='you-will-learn' {...copys.whatYouLearn} />

    <CTAButton href='#register' label='Quiero vivir esta transformación' />

    <TransformationSection id='learn-more' {...copys.transformation} />

    <CTAButton href='#register' label='Reservar mi lugar en la masterclass' />

    <ItsForYouIf id='who-is-it-for' {...copys.itsForYouIf} />

    <CTAButton
      href='#register'
      label='Reservar mi lugar y entender qué me está trabando'
    />

    <TestimonialsSection id='testimonials' {...copys.testimonials} />

    <CTAButton href='#register' label='Quiero vivir esta transformación' />

    <AboutSection id='about' {...copys.about} />

    <h2 class='text-center text-2xl font-bold mt-12 mb-8'>
      Esta no es otra masterclass sobre “cómo aceptarse de una vez por todas”.
      Es una experiencia emocional que puede ser el antes y después que
      necesitabas.
    </h2>
    <CTAButton href='#register' label='Quiero vivir esta experiencia' />
  </main>
</Layout>
