---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import TransformationSection from "../components/TransformationSection.astro";
import AboutSection from "../components/AboutSection.astro";
import ItsForYouIf from "../components/ItsForYouIf.astro";
import TestimonialsSection from "../components/TestimonialsSection.astro";
import FinalCTASection from "../components/FinalCTASection.astro";
import LiveEventSection from "../components/LiveEventSection.astro";
import CTAButton from "../components/CTAButton.astro";
import WhatYouLearnSection from "../components/WhatYouLearnSection.astro";
import { date } from "astro:schema";

// Copys centralizados para toda la landing
const copys = {
  hero: {
    title: "Evento Exclusivo",
    date: "Domingo 31 de Agosto",
    questions: [
      "Comenza a sentirte cómoda con tu cuerpo y en paz con la comida, sin dietas, culpa ni autoexigencia",
      "¿Estás cansada de luchar con tu cuerpo, de intentar controlarte para no “caer”, de vivir con culpa después de comer?",
    ],
    subtitle:
      "En este evento vas a descubrir cómo dejar de pelear con tu cuerpo y la comida y empezar a construir una relación basada en respeto, aceptación y amor . Sin dietas. Sin castigos. Sin exigirte ser otra para sentirte en paz.",
    text: "Aprendé a amar tu cuerpo y hacer las paces con la comida. Deja de vivir en guerra con tu cuerpo y la comida y aprendé a mirarte con amor, a comer en armonía y a sentirte suficiente con quien ya sos.",
    ctaText: "Reservar mi lugar en la clase gratuita",
    ctaLink: "#register",
  },

  finalCTA: {
    title:
      "El primer paso para salir del loop de la culpa, la autoexigencia y el control.",
    description:
      "Esta Masterclass es el primer paso para que el 2025 no sea otro año más de lucha con vos misma. Es para mujeres que ya intentaron “todo” —y están listas para hacer algo distinto.",
  },

  liveEvent: {
    title: "Domingo 31 de Agosto",
    subtitle: "Evento online – acceso solo por registro",
    dateLabel: "Fecha",
    date: "Domingo 31 de Agosto",
    timeLabel: "Horarios",
    importantText: "Plazas limitadas, no te quedes afuera.",
    times: [
      { country: "Argentina", time: "19:00hs", flag: "fi fi-ar" },
      { country: "Chile", time: "18:00hs", flag: "fi fi-cl" },
      { country: "Uruguay", time: "18:00hs", flag: "fi fi-uy" },
      { country: "Paraguay", time: "18:00hs", flag: "fi fi-py" },
      { country: "Colombia", time: "17:00hs", flag: "fi fi-co" },
      { country: "Perú", time: "17:00hs", flag: "fi fi-pe" },
      { country: "México", time: "16:00hs", flag: "fi fi-mx" },
      { country: "España", time: "00:00hs", flag: "fi fi-es" },
      { country: "Miami", time: "18:00hs", flag: "fi fi-us" },
      { country: "Venezuela", time: "18:00hs", flag: "fi fi-ve" },
    ],
  },

  whatYouLearn: {
    title: "¿Qué vas a descubrir en esta clase?",
    description:
      "Una experiencia que no se queda en la teoría. Vas a integrar una nueva forma de relacionarte con vos.",
    bullets: [
      "Por qué vivís atrapada en un ciclo que te desgasta: no te gusta tu cuerpo, controlás lo que comés, te desbordás, te sentís culpable, volvés a empezar… y cómo romperlo sin más ansiedad.",
      "Cómo dejar de autosabotearte empezando por sanar el vínculo con tu cuerpo, en lugar de seguir peleando contra él. Podría ser: Cómo dejar de autosabotearte para alcanzar tus metas siento tu mejor amiga, y no tu peor enemiga.",
      "Cómo mirarte al espejo y conectar con una profunda sensación de amor, gratitud paz.",
      "El método de 4 pasos que ya ayudó a cientos de mujeres a recuperar su autoestima y volver a sentirse cómodas en su cuerpo.",
      "Qué tenés que cambiar (y qué no) para empezar a vivir en calma, sin que la comida ni tu imagen dominen tu vida.",
    ],
  },

  transformation: {
    title: "¿Qué te vas a llevar de esta experiencia?",
    benefits: [
      "Una nueva comprensión sobre tu historia corporal y emocional",
      "Un primer paso real para dejar de luchar y empezar a habitarte con amor",
      "Herramientas concretas para volver a confiar en vos y en tu cuerpo",
      "Una visión integradora que une lo emocional, lo físico y lo espiritual",
      "Acceso anticipado al proceso de transformación completo (con beneficios exclusivos)",
    ],
  },

  itsForYouIf: {
    title: "Esta clase es para vos si…",
    steps: [
      "Sentís que hiciste mil cosas, pero seguís atrapada en el mismo ciclo",
      "Vivís con ansiedad o culpa al comer, o estás desconectada de tu cuerpo",
      "Sos muy autoexigente y te cuesta soltar el control",
      "Sos sensible, espiritual, pero no lográs sentir verdadera paz",
      "Querés una forma nueva de sanar, más amorosa, profunda y real",
    ],
  },

  testimonials: {
    title: "Lo que dicen quienes ya trabajaron con Jime:",
    videos: [
      "https://www.youtube.com/embed/",
      "https://www.youtube.com/embed/",
      "https://www.youtube.com/embed/",
      "https://www.youtube.com/embed/",
      "https://www.youtube.com/embed/",
    ],

    screenshots: [
      "https://i.ibb.co/.jpg",
      "https://i.ibb.co/.jpg",
      "https://i.ibb.co/.jpg",
    ],

    textTestimonials: [
      "“Nunca había sentido tanta paz con mi cuerpo. Jime me ayudó a ver todo desde otro lugar.”",
      "“La clase fue un antes y un después. Me sentí acompañada y comprendida.”",
      "“Gracias a Jime entendí que sanar no es corregirme, es volver a confiar en mi historia.”",
    ],
  },

  about: {
    title: "Sobre Jime",
    texts: [
      "Jime Frontera es terapeuta emocional y guía de procesos de transformación con una comunidad de +430.000 mujeres.",
      "Su enfoque une lo emocional, lo espiritual y lo corporal en un camino de regreso al amor propio.",
      "“Sanar no es corregirte. Es volver a confiar en tu cuerpo, en tu historia y en tu sabiduría.”",
    ],
  },

  registerBox: {
    title: "Inicia tu Transformación",
    namePlaceholder: "Tu nombre y apellido*",
    emailPlaceholder: "Tu email*",
    buttonText: "Registrarme",
    errorEmpty: "Por favor, rellena todos los campos",
    errorEmail: "Por favor, ingresa un email válido",
    errorServer: "Hubo un error al procesar tu solicitud. Intenta nuevamente.",
    success: "¡Registro exitoso! Te redirigiremos en breve...",
    secureMessage:
      "Tus datos están seguros. Solo los usaremos para enviarte información sobre la masterclass.",
  },
};
---

<Layout hideNav={false}>
  <main class='flex flex-col items-center justify-center mx-auto max-w-7xl'>
    <Hero id='hero' {...copys.hero} />

    <FinalCTASection id='register' {...copys.finalCTA} />

    <LiveEventSection id='live-event' {...copys.liveEvent} />

    <CTAButton href='#register' label='Quiero mi lugar en la clase' />

    <WhatYouLearnSection id='you-will-learn' {...copys.whatYouLearn} />

    <CTAButton href='#register' label='Quiero vivir esta transformación' />

    <TransformationSection id='learn-more' {...copys.transformation} />

    <CTAButton href='#register' label='Reservar mi lugar en la masterclass' />

    <ItsForYouIf id='who-is-it-for' {...copys.itsForYouIf} />

    <CTAButton
      href='#register'
      label='Reservar mi lugar y entender qué me está trabando'
    />

    <TestimonialsSection id='testimonials' {...copys.testimonials} />

    <CTAButton href='#register' label='Quiero vivir esta transformación' />

    <AboutSection id='about' {...copys.about} />

    <CTAButton href='#register' label='Anotarme ahora' />
  </main>
</Layout>
