---
interface Props {
  href: string;
  label: string;
  class?: string;
}

const { href, label, class: className } = Astro.props;
---

<div class='flex items-center justify-center mx-4 text-center div-reveal'>
  <a href={href} class='ctabutton'>
    <h4>{label}</h4>
  </a>
</div>
