<div class='grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3'>
  <!-- Video -->
  <div>
    <video controls class='shadow-lg rounded-xl'>
      <source src='/testimonios/video1.mp4' type='video/mp4' />
    </video>
  </div>
  <!-- Imagen -->
  <div class='p-4 bg-white shadow dark:bg-zinc-900 rounded-xl'>
    <img src='/testimonial1.jpg' alt='Testimonio' class='w-full rounded-md' />
  </div>
</div>
